@font-face {
        font-family: testFont;
    }
body {
    background-image: url("../img/bg.png");
    background-color: white;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
    zoom: 120%
}
header {
    font-size: 1.5em;
    font-weight: bold;
}
#all-contents {
    max-width: 800px;
    margin: auto;
    
}

/* navigation menu */
nav {
    background: rgb(244, 66, 66);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid ;
    border-radius: 2em / 5em;
}
nav h1 {
    color: white;
    font-family: "Montserrat", "Adobe Blank";
    font-weight: 800;
    font-style: normal;
}
nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}
nav ul {
    list-style-image: none;
}
nav li {
    display: inline-block;
    padding:  10px;

}

nav a {
    text-decoration: none;
    color: #fff;
}

li a:hover {
    box-shadow: inset 0 0px 0 rgb(168,37,18), inset 0 -1px 0 rgb(168,37,18) ;
}

/* main container area beneath menu */
main {
    background: rgb(255, 254, 252);
    display: flex;
    border: 3px solid black;
}

main img {
    border-style: groove;
    border-color: red;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}
.content h1 {
    color:black;
}
.interests header {
    font-size: 1.25em;
}

/* portfolio styles */
#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
} 

#portfolio a {
    text-decoration: none;
    color: #454545;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

/* Style the text boxes */
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border: 3px solid #dedede;
	padding: 10px;
	margin-top:3px;
	margin-bottom: 5px;
	font-size:0.9em;
	color:#3a3a3a;
}

textarea {
	height:213px;
	font-family: Arial;
}

input:focus, textarea:focus {
    border:3px solid #f74344;
}

#submit {
    padding-bottom: 25px;
    width:439px;
}